.page {
  padding-left: $nav-sidebar-width;
}

.content {
  padding: 0 $gl-spacing-5;
  margin: 0 auto;
  min-width: $page-width / 3;

  &.limited {
    max-width: $page-width;
  }

  img {
     max-width: 100%;
  }
}

.admonition {
  padding: $gl-spacing-5;
  border-width: $border-width;
  border-style: solid;
  border-radius: $border-radius;
  display: block;

  &.admonition--note {
    background-color: $blue-50;
    color: $blue-800;
    border-color: $blue-100;
  }

  &.admonition--tip {
    background-color: $green-50;
    color: $green-800;
    border-color: $green-100;
  }

  &.admonition--todo {
    background-color: $gray-50;
    color: $gray-800;
    border-color: $gray-100;
  }

  &.admonition--warning {
    background-color: $orange-50;
    color: $orange-800;
    border-color: $orange-100;
  }

  span {
    text-transform: uppercase;
    font-weight: $font-weight--bold;
  }
}

// Simple grid workaround until bootstrap is reintroduced

.row {
  display: flex;
  flex-wrap: wrap;

  // Center columns when not adding up to 100%
  &.row-center {
    justify-content: center;
  }

  .col {
    padding-right: $gl-spacing-5;
    padding-left: $gl-spacing-5;

    &.col-50 {
      width: 50%;

      &:nth-child(2n+1) { padding-left: 0; }
      &:nth-child(2n+2) { padding-right: 0; }
    }

    &.col-33 {
      width: 33%;

      &:nth-child(3n+1) { padding-left: 0; }
      &:nth-child(3n) { padding-right: 0; }
    }

    &.col-25 {
      width: 25%;

      &:nth-child(4n+1) { padding-left: 0; }
      &:nth-child(4n)   { padding-right: 0; }
    }
  }
}


// Figure

.figure {
  display: block;
  margin: 0;
  // Using padding instead of margin because of the .md styles
  padding-bottom: $gl-spacing-7;
  text-align: center;
}

.figure-img {
  display: inline-block;
  line-height: 1;
  margin: 0 auto;
}

.figure-caption {
  font-size: $base-font-size;
  line-height: 1.5;
}

